[run]
branch = True
omit =
    */pycm/__main__.py
    */pycm/__init__.py
	*/pycm/profile.py
	*/pycm/basic_test.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
